  
<!DOCTYPE html>
<html>
  <head>
 
    <title></title>
      <link href="css/slidingTabs1.css" rel="stylesheet">



   </head>
   </html>


   

 <ion-view >

<ion-header-bar align-title="left" class="bar-royal">
  <div class="bar_left">
    <i  ng-click="myGoBack()" class="button-icon icon ion-arrow-left-c"></i>
  </div>
</ion-header-bar>

<ion-content  id="tab"  scroll="false" >
    
            <ion-slide-box slide-tabs-scrollable="true"  show-pager="false" ion-slide-tabs>
           
                <ion-slide ion-slide-tab-label="SORT BY"  >
               
                </ion-slide>
                 
                <ion-slide ion-slide-tab-label="FILTER">
                     
                </ion-slide>
                
                
            </ion-slide-box>
        



</ion-content>
</ion-view>