<!--  -->


    <ion-view >
    

<ion-content scroll="false" >
<div style="height: 200vh" >
<div style="margin-top: 20%">
   <img src="img/ROYALOAK.png" style="width: 70%;  margin-left: 15%;" />

</div>


  <p >
      <h2 style="margin-left:35%;margin-top: .5em;text-align:  "><b>LOG IN</b></h2>
  </p>
        <div class="padding">
                 <input name="Username" type="text"  required="true"  autocomplete="off" placeholder="Username"/>
                <p style="margin-top: .5em "></p>
                 <input name="txtPassword" type="password" class="form-control" required="false" autocomplete="off" placeholder="Password" />
                      
        </div>
 
     <div style="margin-top: .5em">
            <button  class="button" ng-click ="Login()"> SIGN IN </button>
    </div>
    <div class="a-column a-span7 a-text-right a-span-last" style="margin-top: 0.5em;margin-right:10%;text-align:right ">
        <a id="auth-fpp-link-bottom" class="a-spacing-null a-link-normal" ng-click="Forgotpassword()">
  Forgot Password?
</a>
      </div>
        
     
        
        
         <div style="margin-top:2.0em">
                <p style="margin-left: 25%;margin-top: .5em">Designed and Developed by </p>
                <a style="margin-top:10.0em" href="http://smsquaretech.com/">  <img src="img/SMSNewLogo.png" style="width: 30%;  margin-left: 35%;" /></a>
        </div>
</div>

</ion-content>


</ion-view>