
   
<ion-view view-title="Your Title!" style="background-color: #f1f1f1;"  >

<ion-header-bar align-title="left" class="bar-royal">
  <div class="bar_left">
   <i class="icon ion-android-arrow-back"></i>
  </div>
  <div class="bar_left" style="font-size: 150%">
   <i >Cart</i>
  </div>
 
  
</ion-header-bar>

   

      


 <ion-content style="margin-top: 2.0em;  " class="has-header">

                      <div style="float: left;font-size:150%;margin-left: 20%;">
                      <p>Product Price</p>
                        
                      </div>
                      <div style="float: right ;margin-right:5%;font-size:150%">
                      <p>Rs 500</p>
                        
                      </div>

                      <div style="float: left;font-size:150%;margin-left: 20%;margin-top: 1.0em">
                      <p>Product Price</p>
                        
                      </div>
                      <div style="float: right ;margin-right:5%;font-size:150%;margin-top: 1.0em">
                      <p>Rs 500</p>
                        
                      </div>




 
      </ion-content>
      <div class="bar bar-footer bar-assertive">
  <ion-option-button class="button" data-ng-click="">CONTINUE</ion-option-button>
</div>

   
    </ion-view>

