  
<!DOCTYPE html>
<html>
  <head>
 
    <title></title>
      <link href="css/slidingTabs.css" rel="stylesheet">
 

   </head>
   </html>

 <ion-view view-title="" style="background-color: #f1f1f1;">

<ion-content class="has-header"  scroll="false" >
    
            <ion-slide-box slide-tabs-scrollable="true"  show-pager="false" ion-slide-tabs>
           
                <ion-slide ion-slide-tab-label="SHOWCASE"  >
               <div ng-include="'templates/playlists.html'"></div>
                </ion-slide>
                 
                <ion-slide ion-slide-tab-label="EXPLORE">
                      <div ng-include="'templates/cart.html'"></div>
                </ion-slide>
                <ion-slide ion-slide-tab-label="BLOGS">
                       
                </ion-slide>
                <ion-slide ion-slide-tab-label="BLOGS1">
                       
                </ion-slide>
                <ion-slide ion-slide-tab-label="REVIEWS">
                       
                </ion-slide>
                <ion-slide ion-slide-tab-label="WOODBOARDS">
                          
                </ion-slide>
                
            </ion-slide-box>
        



</ion-content>
</ion-view>